@model ModelLibrary.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card bg-opacity-25 container py-2 m-auto shadow mainCard">
    <div class="card-body text-center">


        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2">
            <h2 class=" fw-bold">Login</h2>
        </div>
        <div class="row my-2 pt-3 px-5">
            <div class="col-6">
                <img src="~/img/wcs_login.png" class="w-75 m-auto opacity-75" />
            </div>
            <div class="col-6 px-5 py-3  border rounded border-dark shadow-lg">

                <form method="post" action="Login">
                    <h5 class="bg-dark bg-opacity-10 border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Please enter your user name and password!
                    </h5>
                    <div class="row mt-5">
                        <div class="col-5">
                            <label asp-for="UserName" class="control-label fs-4 text-white text-opacity-75 fw-bold"></label>
                        </div>
                        <div class="col-7">
                            <input asp-for="UserName" class="text-center form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-5">
                            <label asp-for="Password" class="control-label fs-4 text-white text-opacity-75 fw-bold"></label>
                        </div>
                        <div class="col-7">
                            <input type="password" asp-for="Password" class="text-center form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="btn-group-lg mt-5">
                        <button class="btn btn-outline-light fw-bold btn-lg w-50" type="submit">Login</button>
                    </div>

                    <div class="mt-4">
                        <h6 class="text-white">
                            Don't have an account? <a href="Register" class=" text-white text-opacity-75 fw-bold">Register Now</a>
                        </h6>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>



