@model ModelLibrary.Employee

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card container py-2 m-auto mainCard">
    <div class="card-body text-center">
        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2">
            <h2 class="fw-bold text-dark">Add Employee</h2>
        </div>
        @if (ViewData["message"] != null)
        {
            <div class="mb-3">
                <span class="text-danger fw-bold fs-4">@ViewData["message"]</span>
            </div>
        }

        <form asp-action="AddEmployee">
            <div class="row mt-4 m-auto">
                <div class="col pb-4 mx-2 border rounded border-dark shadow-lg">
                    <h4 class="bg-dark bg-opacity-10 w-75 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Personal Details
                    </h4>
                    <div class="row mt-2">
                        <div class="col-5">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Full Name</label>
                        </div>
                        <div class="col-7">
                            <input asp-for="EmployeeName" class="form-control text-center" />
                            <span asp-validation-for="EmployeeName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Address</label>

                        </div>
                        <div class="col-7">
                            <input asp-for="EmployeeAddress" class="form-control text-center" />
                            <span asp-validation-for="EmployeeAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Mobile Number</label>
                        </div>
                        <div class="col-7">
                            <input asp-for="EmployeePhone" class="form-control text-center" />
                            <span asp-validation-for="EmployeePhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>                
                <div class="col pb-4 mx-2 border rounded border-dark shadow-lg">
                    <h4 class="bg-dark bg-opacity-10 w-75 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Account Details
                    </h4>
                    <div class="row mt-2">
                        <div class="col-5">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">User Name</label>
                        </div>
                        <div class="col-7">
                            <input asp-for="User.UserName" class="form-control text-center" />
                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Password</label>
                        </div>
                        <div class="col-7">
                            <input type="password" asp-for="User.Password" class="form-control text-center" />
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Confirm</label>
                        </div>
                        <div class="col-7">
                            <input type="password" name="passwordConfirm" class="form-control text-center" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-5">
                            <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Department</label>
                        </div>
                        <div class="col-7">
                            @Html.DropDownListFor(m=>m.Department.Id,new SelectList(ViewData["departments"] as List<ModelLibrary.Department>,"Id","DepartmentName"), new {@class="form-control text-center"})
                            <span asp-validation-for="Department.Id" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body text-center form-group mt-3">
                    <input type="submit" value="Create" class="fw-bold btn btn-lg btn-outline-light w-25" />
                <a asp-action="EmployeeManagement" class="fw-bold btn btn-lg btn-outline-danger w-25">Cancel</a>
            </div>
        </form>
    </div>
</div>
