@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card container py-2 m-auto mainCard">
    <div class="card-body text-center">
        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2">
            <span class="fw-bold text-dark w-50 m-auto fs-3">Admin Panel</span>
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Change Password">
                @Html.ActionLink(" ", "ChangePassword",null,null,new {@class="me-4 icoRow text-dark fw-bold float-end bi bi-person-lock"})
            </span>
            </div>

        <div class="container p-5">
        <a href="adminpanel/UserManagement" class="btn btn-lg mx-4 btn-outline-light reqRow border-2 border-dark shadow-lg">
            <div><img src="~/img/USERS.png" class="mw-75 w-75 m-auto" /></div>
            <div class="pt-1 text-center m-auto fw-bold text-uppercase text-dark">Users</div>
        </a>

            <a href="adminpanel/EmployeeManagement" class="btn btn-lg mx-4 btn-outline-light reqRow border-2 border-dark shadow-lg">
            <div><img src="~/img/EMPS.png" class="mw-75 w-75 m-auto" /></div>
                <div class="pt-1 text-center m-auto fw-bold text-uppercase text-dark">Employees</div>
        </a>
        </div>
    </div>
</div>

