@model TransferRequestVM
@{
    ViewData["Title"] = "Transfer Ownership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card bg-opacity-25 container py-2 m-auto shadow mainCard">
    <div class="card-body text-center">
        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2">
            <h2 class=" fw-bold">Transfer Ownership Request</h2>
        </div>

        <form method="post" action="TransferOwnership">
            <div class="mb-md-4 mt-md-4 pb-1 text-center">

                <h4 class="bg-dark bg-opacity-10 w-75 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                    Please enter subscription barcode
                </h4>

                <div class="row mt-2 w-75 m-auto">
                    <div class="col-6">
                        <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Subscription Barcode</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Subscription.ConsumerBarCode" class="form-control text-center" />
                        <span asp-validation-for="Subscription.ConsumerBarCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="btn-group-lg mt-4">
                    @Html.ActionLink("Cancel","index","ConsumerPanel",null, new { @class = "btn btn-outline-danger btn-lg w-25 fw-bold m-1" })
                    <button class="btn btn-outline-light btn-lg w-25 fw-bold m-1" type="submit">Search</button>
                </div>
            </div>
        </form>


        @if (Model != null && Model.Subscription != null && Model.Subscription.Consumer != null)
        {
            <form asp-action="SubmitTransferRequest" method="post" enctype="multipart/form-data">
                <div id="details">
                    <h4 class="bg-dark bg-opacity-10 w-75 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Subscription
                    </h4>
                    <div class="table">
                        <div class="row text-center rounded-3 m-auto p-3">
                            <div class="row">
                                <div class="col-5">
                                    <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Subscription Barcode</label>
                                </div>
                                <div class="col-6">
                                    <input readonly="readonly" asp-for="Subscription.ConsumerBarCode" class="form-control text-center" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Subscription Number</label>
                                </div>
                                <div class="col-6">
                                    <input readonly="readonly" asp-for="Subscription.ConsumerSubscriptionNo" class="form-control text-center" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Address</label>
                                </div>
                                <div class="col-6">
                                    <input readonly="readonly" asp-for="Subscription.SubscriptionAddress" class="form-control text-center" />
                                </div>
                            </div>
                        </div>
                        <div class="row text-center rounded-3 m-auto p-3">
                            <h4 class="bg-dark bg-opacity-10 w-75 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                                Current Consumer
                            </h4>
                            <div class="row">
                                <div class="col-5">
                                    <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Consumer Full Name</label>
                                </div>
                                <div class="col-6">
                                    <input readonly="readonly" asp-for="Subscription.Consumer.ConsumerName" class="form-control text-center" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Consumer Address</label>
                                </div>
                                <div class="col-6">
                                    <input readonly="readonly" asp-for="Subscription.Consumer.ConsumerAddress" class="form-control text-center" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Consumer Mobile Number</label>
                                </div>
                                <div class="col-6">
                                    <input readonly="readonly" asp-for="Subscription.Consumer.ConsumerPhone" class="form-control text-center" />
                                </div>
                            </div>
                        </div>

                        <div class="row text-center rounded-3 m-auto p-3">
                            <h4 class="bg-dark bg-opacity-10 w-75 m-auto border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                                Attach Document
                            </h4>
                            <div class="row">
                                <div class="col-5">
                                    <label class="control-label fs-4 text-white text-opacity-75 fw-bold">Owning Certificate</label>
                                </div>
                                <div class="col-6">
                                    <input type="file" asp-for="Document" accept=".jpg,.jpeg" class="form-control my-2" />
                                    @Html.ValidationMessageFor(m => m.Document)
                                </div>
                            </div>
                        </div>


                        <div class="btn-group-lg mt-2">
                            @Html.ActionLink("Cancel","index","ConsumerPanel",null, new { @class = "fw-bold btn btn-outline-danger btn-lg w-25 m-1" })
                            <button class="btn btn-outline-light fw-bold btn-lg w-25" type="submit">Submit Request</button>

                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>

