@model ChangePasswordVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card bg-opacity-25 container py-2 m-auto shadow mainCard">
    <div class="card-body text-center">
        <div class="bg-white bg-opacity-50 rounded-pill p-1 fs-2">
            <h2 class=" fw-bold">Change Password</h2>
        </div>

        @if (ViewData["message"] != null)
        {
            <div class="mb-3">
                <span class="text-danger fw-bold fs-4">@ViewData["message"]</span>
            </div>
        }
        <div class="row my-2 pt-3 px-5">
            <div class="col-5">
                <img src="~/img/ChangePassword.png" class="w-75 m-auto opacity-75" />
            </div>
            <div class="col-7 px-5  border rounded border-dark shadow-lg">
                <form method="post" action="ChangePassword">
                    <h5 class="bg-dark bg-opacity-10 border border-dark rounded shadow py-3 px-1 text-white text-opacity-75 my-3">
                        Please enter your old and new password!
                    </h5>
                    <div class="row mt-4">
                        <div class="col-5">
                            <label asp-for="OldPassword" class="control-label fs-5 text-white text-opacity-75 fw-bold">Old Password</label>
                        </div>
                        <div class="col-7">
                            <input asp-for="OldPassword" type="password" class="text-center form-control" required="required"/>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-5">
                            <label asp-for="NewPassword" class="control-label fs-5 text-white text-opacity-75  fw-bold">New Password</label>
                        </div>
                        <div class="col-7">
                            <input type="Password" asp-for="NewPassword" class="text-center form-control" required="required" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>                   
                    <div class="row mt-4">
                        <div class="col-5">
                            <label asp-for="ConfirmPassword" class="control-label fs-5 text-white text-opacity-75  fw-bold">Confirm Password</label>
                        </div>
                        <div class="col-7">
                            <input type="Password" asp-for="ConfirmPassword" class="text-center form-control" required="required" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="btn-group-lg my-4">
                        <button class="btn btn-outline-light fw-bold btn-lg w-50" type="submit">Change Password</button>
                        <a asp-action="Index" class="fw-bold btn btn-lg btn-outline-danger w-25">Cancel</a>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

